extends ../layout

block content
  h1= title
  p Voici la liste des t창ches :
    table(border=1)
      tr
        th Id
        th Id utilisateur
        th T창che
        th Description
        th Done ?

      each todo in todos   
        tr
          td #{todo.rowid}
          td #{todo.userId}
          td #{todo.task}
          td #{todo.description}
          td 
            a(href='/todos/' + todo.rowid + '?_method=delete') Supprimer la t창che

  p 
    a(href='/todos/add') Ajouter une t창che